<!-- login.component.html -->
<div class="login-container">
  <div class="login-image"></div>
  <div class="login-form">
    <h1> Guadalajara Library</h1>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
        <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
          Email es requerido
        </mat-error>
        <mat-error *ngIf="loginForm.get('email')?.hasError('email')">
          Email no es válido
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Contraseña</mat-label>
        <input matInput formControlName="password" type="password">
        <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
          Contraseña es requerida
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" class="full-width">
        Login
      </button>

      <p class="sign-up-link">
        ¿No tienes una cuenta? 
        <a routerLink="/Sign-in">Registrarse</a>
      </p>
    </form>
  </div>
</div>

