.dialog-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .text-content {
    flex: 2;
    padding-right: 20px;
  }
  
  .image-content {
    flex: 1;
    text-align: right;
  }
  
  .book-cover {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .dialog-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
  
  .close-button {
    color: #ffffff;
    background-color: #e02020;
    border-radius: 4px;
  }
  
  .close-button:hover {
    background-color: #e02020;
  }
  